@model RPDControlSystem.Models.RPD.Discipline

@{
    ViewData["Title"] = "Details";
}

<h2>Дисциплины</h2>

<div>
    <h4>Дисциплина</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDiscipline" asp-route-id="@Model.Code">Редактировать</a> |
    <a asp-action="GetDisciplines">Назад</a>
</div>
