<div class="row">
    <div class="col-md-12">
        <h2>Добро подаловать в панель администратора</h2>
        <p>Для вас доступны следующие разделы</p>
        <ul>
            <li><a asp-action="GetUsers">Пользователи</a></li>
            <li><a asp-action="GetDisciplines">Дисциплины</a></li>
            <li><a asp-action="GetPosts">Должности</a></li>
            <li><a asp-action="GetDegrees">Ученые степени</a></li>
        </ul>
    </div>
</div>