@{
    //Layout = "";
}

<div class="row">
    <div class="col-md-12">
        <h2>Главная страница формирования отчетов</h2>
        <hr />
        <p>Для вас доступны следующие типы отчетов:</p>
        <ul>
            <li><p><a asp-action="FindCompetenceExceeding">Поиск дисциплин с превышением компетенций</a></p></li>
            <li><p><a asp-action="FindPlanWithoutCompetence">Поиск планов, не покрывающих компетенции</a></p></li>
            <li><p><a asp-action="FindTeacherByPlan">По преподавателям с дисциплинами, имеющими (не имеющими) документы РПД</a></p></li>
            <li><p><a asp-action="FindDisciplinesWithoutRpd">По дисциплинам с отсутствующими документами РПД</a></p></li>
            <li><p><a asp-action="FindDisciplinesWithRpd">По дисциплинам с имеющимися документами РПД</a></p></li>
        </ul>
    </div>
</div>