@model RPDControlSystem.Models.RPD.Plan

<form asp-action="AddPlan">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProfileCode" class="form-control" />
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EducationForm" class="control-label"></label>
        <select asp-for="EducationForm" class="form-control">
            <option value="@EducationForm.FullTime">Очная</option>
            <option value="@EducationForm.Distance">Заочная</option>
            <option value="@EducationForm.Evening">Вечерняя</option>
        </select>
        <span asp-validation-for="EducationForm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
