@model RPDControlSystem.Models.RPD.ProfileCompetence

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProfileCompetence">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProfileCode" />
            <div class="form-group">
                <label asp-for="CompetenceId" class="control-label"></label>
                <select asp-for="CompetenceId" class="form-control" asp-items="ViewBag.CompetenceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
