@model RPDControlSystem.Models.RPD.Plan

@{
    ViewData["Title"] = "Create";
}

<h2>Учебные планы</h2>
<h3>Добавление</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control"/>
                <span asp-validation-for="Code"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationForm" class="control-label"></label>
                <select asp-for="EducationForm" class="form-control">
                    <option value="@EducationForm.FullTime">Очная</option>
                    <option value="@EducationForm.Distance">Заочная</option>
                    <option value="@EducationForm.Evening">Вечерняя</option>
                </select>
                <span asp-validation-for="EducationForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileCode" class="control-label"></label>
                <select asp-for="ProfileCode" class="form-control" asp-items="ViewBag.ProfileCode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
