body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.right
{
    float: right;
}

.table > thead > tr > td.accent,
.table > tbody > tr > td.accent,
.table > tfoot > tr > td.accent,
.table > thead > tr > th.accent,
.table > tbody > tr > th.accent,
.table > tfoot > tr > th.accent,
.table > thead > tr.accent > td,
.table > tbody > tr.accent > td,
.table > tfoot > tr.accent > td,
.table > thead > tr.accent > th,
.table > tbody > tr.accent > th,
.table > tfoot > tr.accent > th {
    background-color: rgba(57, 159, 180, 0.55);
    color: #FFF;
}

.table > thead > tr > td,
.table > thead > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.table > thead > tr > td.main,
.table > tbody > tr > td.main,
.table > tfoot > tr > td.main,
.table > thead > tr > th.main,
.table > tbody > tr > th.main,
.table > tfoot > tr > th.main,
.table > thead > tr.main > td,
.table > tbody > tr.main > td,
.table > tfoot > tr.main > td,
.table > thead > tr.main > th,
.table > tbody > tr.main > th,
.table > tfoot > tr.main > th {
    background-color: #39ADB4;
    color: #FFF;
}

hr {
    border-top: 1px solid #333;
}